////////////////////
// Fritz Overrides
////////////////////

$mobile_breakpoint: 767px;
$wide_breakpoint: 992px;

@mixin box-shadow($shadows...) {
  -webkit-box-shadow: $shadows;
     -moz-box-shadow: $shadows;
       -o-box-shadow: $shadows;
          box-shadow: $shadows;
}


body {
  font-family: 'SF Display', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#breadcrumbs {
  color: #fefefe;
  height: auto;
  padding-bottom: 0;
  margin-top: 0;
  .coverage {
    float: right;
  }
}



////////////////////
// Fritz Navbar
////////////////////

$black:         #000000;
$white:         #ffffff;
$brass:         #9e8d37;
$raisin_black:  #212121;
$grey_main:     #a1a1a1;
$grey_dark:     darken($grey_main, 20%);
$grey_light:    lighten($grey_main, 5%);
$shadow:        rgba($black, 0.4);

.navbar-fixed {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  overflow: hidden;
  background-color: $raisin_black;
  transition: all 0.5s;
  @include box-shadow(0 0 4px rgba($black, 0.14), 0 4px 8px rgba($black, 0.28));
  .nav-upper,
  .nav-lower {
    position: relative;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
  }
  .nav-lower {
    color: #fefefe;
    background: #424242;
  }
  ul {
    list-style: none;
    padding: 0;
    font-size: 0;
    li {
      display: inline-block;
      float: left;
      height: 50px;
      line-height: 50px;
      a {
        color: $grey_main;
        height: 100%;
        text-decoration: none;
        padding: 0;
        margin: 0 10px;
        &.navbar-button {
          color: $white;
          background-color: $raisin_black;
          border: 2px solid $brass;
          padding: 5px 12px;
          @include box-shadow(0 0 4px $shadow, 2px 2px 8px $shadow);
          &:hover {
            border-color: lighten($brass, 10%);
          }
        }
        &.active {
          color: $brass; // backup for gradient
          background: -webkit-linear-gradient(#B3A662, #7A6D2B); // match svg
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 22px;
          margin-left: 0;
        }
        &.help {
          font-size: 14px;
          margin-right: 0;
        }
        &:hover {
          color: $white;
        }
      }
    }
    &.nav-items-left {
      font-family: 'Saveur Sans', Helvetica, Arial, sans-serif;
      font-size: 14px;
      letter-spacing: 0.3em;
    }
    &.nav-items-right {
      font-weight: bold;
      font-size: 12px;
      letter-spacing: 0.15em;
    }
  }
  .logo {
    width: 32px;
    vertical-align: middle;
  }
  .pull-left {
    float: left;
  }
  .pull-right {
    float: right;
  }
}

.navbar-fixed .nav-items-left li a {
  @media (min-width: $wide_breakpoint) {
    margin: 0 20px; /* more space between when wider */
  }
}

.main-content {
  @media screen and (min-width: $mobile_breakpoint) {
    margin-top: 100px; /* height of navbar */
  }
}
